body {
    margin-left: 0%;
  margin-right: 0%;
  background-color :white  ;
  width : 100%;
}
#header{
text-align: center;

}
#table{
    width: 30%;
    float: right;
    border : 1px;
}
#form{
    width : 60%;
    float: left;
    margin-left: 5%;
}
#left{
    border: black;
    height: 30%;
} 